doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Facture
        link(rel="stylesheet" href="/assets/css/reset.css")
        link(rel="stylesheet" href="/assets/fonts/work-sans.css")
        link(rel="stylesheet" href="/assets/css/sale.css")
    body
        header
            div(class="logo")
                img(src='/assets/images/logo.png' , alt='Logo')
                h2 *** FIKAMBANANA MPIARA-MAMAKY NY BAIBOLY ***
                h3 "Fanilon'ny tongotro sy fahazavana ny lalako ny Teninao" Sal 119:105

            div(class="title")
                h1 FACTURE

            div(class="summary")
                div(class="info")
                    h4 Date du commande
                    span=paymentDate

                div(class="info")
                    h4 N° de commande
                    span=payment.sale.no

                if payment.sale.discount > 0
                    div(class="info")
                        h4 Remise (Ar)
                        span=toCurrency(payment.sale.discount)

                if payment.sale.client
                    div(class="info")
                        h4 Client
                        span=payment.sale.client.name

            div(class="llb-summary")
                div(class="info")
                    h4 NIF
                    span 3000422465
                div(class="info")
                    h4 STAT
                    span 91312111985000313
                div(class="info")
                    h4 Adresse
                    span Antaninarenina
                div(class="info")
                    h4 BP
                    span Antananarivo 101-B.P: 4085
                div(class="info")
                    h4 Contact
                    span 24 809 92
                div(class="info")
                    h4 Mail
                    span flambeaullb@gmail.com

            table
                thead
                    tr
                        td Designation
                        td Qte
                        td PU (Ar)
                        td Sous total (Ar)
                tbody
                    each item in payment.sale.saleItems
                        tr
                            td=item.product.name
                            td=item.quantity
                            td=toCurrency(item.product.sellingPrice)
                            td=toCurrency(item.quantity * item.product.sellingPrice)
        footer
            div(class="info")
                h4 Total (Ar)
                span=toCurrency(payment.amount)
