doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Détails
        link(rel="stylesheet" href="/assets/css/reset.css")
        link(rel="stylesheet" href="/assets/fonts/work-sans.css")
        link(rel="stylesheet" href="/assets/css/sale.css")
    body
        header
            div
                dl
                    dt Date du jour
                    dd=now

                    dt Date de commande
                    dd=paymentDate

                    dt N° de commande
                    dd=payment.sale.no

                    if payment.sale.discount > 0
                        dt Remise (Ar)
                        dd=toCurrency(payment.sale.discount)

                    if payment.sale.client
                        dt Client
                        dd=payment.sale.client.name
            div
                img(src='/assets/images/logo.png' , alt='Logo')
        main
            table
                thead
                    tr
                        td Designation
                        td Qte
                        td PU (Ar)
                        td Montant (Ar)
                tbody
                    each item in payment.sale.saleItems
                        tr
                            td=item.product.name
                            td=item.quantity
                            td=toCurrency(item.product.sellingPrice)
                            td=toCurrency(item.quantity * item.product.sellingPrice)
                tfoot
                    tr
                        td(colspan=3) Montant (Ar)
                        td=toCurrency(payment.amount)
