doctype
html(lang'fr')
    head
        meta(charset'utf-8')
        title
        link(rel"stylesheet" href="/assets/css/reset.css")
        link(rel"stylesheet" href="/assets/fonts/work-sans.css")
        link(rel"stylesheet" href="/assets/css/list.css")
        link(rel"stylesheet" href="/assets/css/sale.css")

    body
        header
        main
            table
                thead
                    tr
                        td Designation
                        td Qte
                        td PU (Ar)
                        td Remise (Ar)
                        td Montant (Ar)
                tbody
                    each item in item.sale.saleItems
                        tr
                            td=item.product.name
                            td=item.quantity
                            td=item.product.sellPrice
                            td=item.discount
                            td=(item.product.sellPrice * item.quantity) - item.discount